*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: #666; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-top-small {
  margin-top: 2rem; }

.u-margin-top-medium {
  margin-top: 4rem; }

.u-margin-top-large {
  margin-top: 6rem; }

.header {
  color: #fff;
  width: 100%;
  height: 100%;
  text-align: center;
  float: left;
  max-width: 38rem;
  padding: 6rem 2rem 3rem;
  position: relative; }
  .header__shape {
    width: 18rem;
    height: 18rem;
    clip-path: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    margin: 0 auto;
    position: relative;
    z-index: 10; }
  .header__img {
    height: 100%;
    position: relative; }
  .header__caption {
    content: '';
    position: absolute;
    opacity: 0.3;
    width: 18rem;
    height: 18rem;
    top: 7rem;
    left: 11rem;
    border-radius: 50%;
    background-image: -webkit-repeating-radial-gradient(center center, #fff, #fff 1px, transparent 0px, transparent 100%);
    background-image: -moz-repeating-radial-gradient(center center, #fff, #fff 1px, transparent 0px, transparent 100%);
    background-image: -ms-repeating-radial-gradient(center center, #fff, #fff 1px, transparent 0px, transparent 100%);
    -webkit-background-size: 6px 6px;
    -moz-background-size: 6px 6px;
    background-size: 6px 6px;
    z-index: 1; }
  .header__title {
    margin-top: 2rem; }
    .header__title--primary {
      font-size: 3.6rem;
      font-weight: 600;
      line-height: 4.5rem; }
    .header__title--secondary {
      font-size: 1.8rem;
      font-weight: 500;
      line-height: 4rem;
      letter-spacing: 2px; }
  .header__social-list {
    list-style: none; }
  .header__social-item {
    display: inline-block; }
    .header__social-item:not(:last-child) {
      margin-right: 2rem; }
  .header__social-link:link, .header__social-link:visited {
    font-size: 2rem;
    text-decoration: none;
    color: #fff;
    width: 3.5rem;
    height: 3.5rem;
    display: inline-block;
    background-color: transparent;
    border-radius: 50%;
    transition: all .2s; }
  .header__social-link:hover {
    background-color: rgba(255, 255, 255, 0.3);
    transform: translateY(-0.2rem); }
  .header__copyrights {
    position: absolute;
    bottom: 0;
    left: 50%;
    font-size: 1.4rem;
    padding: 1rem 0rem;
    transform: translateX(-50%); }

.btn:link, .btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  padding: 1rem 3rem;
  display: inline-block;
  border-radius: 10rem;
  font-size: 1.6rem;
  position: relative;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  transition: all .2s; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--white {
  background-color: #fff;
  color: #fea621; }
  .btn--white::after {
    background-color: #fff; }

.page {
  width: 100%;
  padding: 0 15rem;
  height: 100vh;
  overflow: hidden;
  background-color: #fcefde; }
  .page__content {
    background-image: linear-gradient(to top, #fea621, #fe6d72);
    height: 80vh;
    margin: 10vh auto;
    max-width: 114rem;
    border-radius: 3.2rem;
    position: relative;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1); }

.main {
  max-width: calc(100% - 38rem);
  position: absolute;
  right: 0;
  height: 100%;
  width: 100%; }

[class^="section-"] {
  height: inherit;
  width: inherit;
  background-color: #fff;
  padding: 5rem;
  border-radius: 3rem; }

.introduction__box {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%; }

.introduction__heading {
  text-transform: uppercase; }
  .introduction__heading--primary {
    font-size: 6rem;
    color: #000;
    text-transform: uppercase;
    display: block;
    letter-spacing: .5rem; }
  .introduction__heading--sub {
    font-size: 2.2rem;
    letter-spacing: 1rem;
    font-weight: 400;
    color: inherit; }
