.btn{
    &:link, &:visited {
        text-decoration: none;
        text-transform: uppercase;
        padding: 1rem 3rem;
        display: inline-block;
        border-radius: 10rem;
        font-size: 1.6rem;
        position: relative;
        box-shadow: 0 0.5rem 1rem rgba($color-black, .1);
        transition: all .2s;
    }

    &:hover {
        transform: translateY(-0.3rem);
        box-shadow: 0 1rem 2rem rgba($color-black, .2);
        &::after{
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }

    &:active, &:focus {
        outline: none;
        transform: translateY(-.1rem);
        box-shadow: 0 0.5rem 1rem rgba($color-black, .2);
    }

    &::after{
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top:0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }

    &--white {
        // background-image: linear-gradient(to top, $color-primary, $color-primary-dark);
        // background-color: transparent;
        // border: 3px solid $color-white;
        // color: $color-white;

        background-color: $color-white;
        color: $color-primary;

        // &:hover{
        //     background-color: $color-white;
        //     color: $color-primary;
        // }

        &::after {
            background-color: $color-white;

        }
    }
}