.page{

    width: 100%;
    padding: 0 15rem;
    height: 100vh;
    overflow: hidden;
    background-color: $color-grey-light;
    
   

    &__content{
        background-image: linear-gradient(to top, $color-primary, $color-primary-dark);
        height: 80vh;
        margin: 10vh auto;
        max-width: 114rem;
        border-radius: 3.2rem;
        position: relative;
        box-shadow: 0 1rem 2rem rgba($color-black, .1);

        
    }
}


.main {
    max-width: calc(100% - 38rem);
    position: absolute;
    right: 0;
    height: 100%;
    width: 100%;
}

[class^="section-"] {
    height: inherit;
    width: inherit;
    background-color: $color-white;
    padding: 5rem;
    border-radius: 3rem;
}

.section-introduction {
    
}

.introduction{
    &__box {
        text-align: center;
        @include asbCenter;
        width: 80%;
    }

    &__heading{
        text-transform: uppercase;
        &--primary {
            font-size: 6rem;
            color: $color-black;
            text-transform: uppercase;
            display: block;
            letter-spacing: .5rem;
        }

        &--sub{
            font-size: 2.2rem;
            letter-spacing: 1rem;
            font-weight: 400;
            color: inherit;
        }
    
    }
}