.header{
    
    color: $color-white;
    width: 100%;
    height: 100%;
    text-align: center;
    float: left;
    max-width: 38rem;
    padding: 6rem 2rem 3rem;
    position: relative;
    &__box{}

    &__shape{

        width: 18rem;
        height: 18rem;
        clip-path: circle(50% at 50% 50%);
        -webkit-clip-path: circle(50% at 50% 50%);
        margin: 0 auto;
        position: relative;
        z-index: 10;
        // box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
    }

    &__img{
        height: 100%;
        position: relative;
        
        // border-radius: 50%;
        // border: 2px solid $color-white;
    }

    &__caption{
        content: '';
        position: absolute;
        opacity: 0.3;
        width: 18rem;
        height: 18rem;
        top: 7rem;
        left: 11rem;
        border-radius: 50%;
        background-image: -webkit-repeating-radial-gradient(center center,$color-white, $color-white 1px, transparent 0px, transparent 100%);
        background-image: -moz-repeating-radial-gradient(center center, $color-white, $color-white 1px, transparent 0px, transparent 100%);
        background-image: -ms-repeating-radial-gradient(center center, $color-white, $color-white 1px, transparent 0px, transparent 100%);
        -webkit-background-size: 6px 6px;
        -moz-background-size: 6px 6px;
        background-size: 6px 6px;
        z-index: 1;

    }

    &__title{
        margin-top: 2rem;
        &--primary{
            font-size: 3.6rem;
            font-weight: 600;
            line-height: 4.5rem;
        }

        &--secondary {
            font-size: 1.8rem;
            font-weight: 500;
            line-height: 4rem;
            letter-spacing: 2px;
        }
    }

    &__social-list{
        list-style: none;
    }

    &__social-item{
        display: inline-block;
    
        &:not(:last-child){
            margin-right: 2rem;
        }
    }

    &__social-link{
        &:link,&:visited {
            font-size: 2rem;
            text-decoration: none;
            color: $color-white;
            width: 3.5rem;
            height: 3.5rem;
            display: inline-block;
            background-color:transparent;
            border-radius: 50%;
            transition: all .2s;

        }

        &:hover{
            background-color: rgba($color-white, 0.3);
            transform: translateY(-.2rem);
        }
    }

    &__copyrights{
        position: absolute;
        bottom: 0;
        left: 50%;
        font-size: 1.4rem;
        padding: 1rem 0rem;
        transform: translateX(-50%);
    }

}